*{
   box-sizing: border-box;
}
body{
   font-family: 'Roboto', sans-serif;
   margin: 0px;
}
@font-face {
	font-family: 'Sofia';
   font-display: swap;
	src: url('/src/fonts/Sofia.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
.first-screen{
   background-image: url(/src/img/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 60px;
   width: 1400px;
   height: 663px;
}
.header{
   width: 1180px;
   height: 91px;
   display: flex;
   justify-content: space-between;
   margin-left: 110px;
   margin-right: 110px;
   align-items: center;
}
.logo{
   display: flex;
   width: 425.22px;
   height: 91px;
   text-align: left;
   align-content: center;
}
.tooth{
   width: 77.57px;
   height: 91px;
   margin-right: 7.43px;
}
.logo-text{
   height: 91px;
   font-family: 'Sofia';
   font-style: normal;
   font-weight: 400;
   font-size: 38px;
   color: #46b1de;
}
.navigation{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 25px;
   width: 350px;
   text-align: center;
   font-size: 16px;
}
a{
   text-decoration-line: none;
   color: black;
}
.number{
   margin-left: 10px;
}
.language{
   font-weight: 600;
}
main{
   margin-left: 110px;
   margin-right: 110px;
}
h1{
   text-transform: uppercase;
   white-space: pre-line;
   padding-top: 34px;
   margin: 0px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   letter-spacing: 0.1em;
}
.blue-text{
   color: #46b1de;
}
h2{
   display: inline-block;
   white-space: pre-line;
   margin: 0px;
   height: 66px;
   font-size: 16px;
   padding-top: 30px;
   line-height: 22px;
}
.call{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 180px;
   height: 60px;
   padding: 16px 35px;
   gap: 10px;
   background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
   box-shadow: 0px 2px 10px #46B1DE;
   border-radius: 8px;
}
.main-link1{
   color: white;
}
.main-link2{
   color: #46b1de;
}
.buttons{
   display: flex;
   flex-direction: row;
   gap: 120px;
   padding-top: 48px;
}
.services{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
   padding: 16px 35px;
   gap: 10px;
   width: 180px;
   height: 60px;
   background: #FFFFFF;
   mix-blend-mode: normal;
   border: 1px solid #DDE0DC;
   box-shadow: 0px 2px 10px #DDE0DC;
   border-radius: 8px;
}
.img-lady{
   position: absolute;
   width: 572px;
   height: 530px;
   left: 718px;
   top: 133px;
}
.footer-1{
   display: flex;
   gap: 70px;
   align-content: center;
   margin-left: 100px;
   margin-right: 210px;
   margin-top: 54px;
   width: 1150px;
   height: 97px;
}
.footer-boxes{
   display: flex;
   flex-direction: row;
   width: 280px;
   height: 120px;
   background: #FFFFFF;
   border: 1px solid #D8E1E1;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
   position: relative;
   z-index: 1;
}
.number-15{
   display: flex;
   align-items: center;
   color: #46b1de;
   font-size: 50px;
   margin: 15px;
}
.text-15{
   display: flex;
   white-space: pre-line;
   align-items: center;
   text-align: left;
}
.second-screen{
   height: 800px;
}
.header-2{
margin: 0 auto;
padding-top: 100px;
padding-bottom: 60px;

}
.question{
text-align: center;
font-size: 30px;
font-weight: 200;
font-family: 'Russo One';

}
.answer{
text-align: center;
white-space: pre-line;
}
.main-2{
   background-color: #92c5db;
   border-radius: 10px;
   padding: 20px;
   width: 1080px;
   height: 400px;
   margin: 0 auto;
   display: flex;
   flex-flow: column wrap;
}
@media (max-width: 500px) {
   .main-2{
      flex-wrap: nowrap;
      flex-direction: column;
   }
   }
.reasons{
   background-color: white;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   width: 300px;
   height: 150px;
   margin: 10px;
}
.number-01{
   color: #46b1de;
   font-size: 30px;
   font-weight: bold;
   margin: 10px;
   font-family: 'Muller ExtraBold DEMO';
}
.text-01{
   color: #46b1de;
   text-align: left;
   margin: 10px;
   font-size: 17px;
   font-weight: bolder;
   white-space: pre-line;
   font-family: 'Muller ExtraBold DEMO';
}
.common-text{
   text-align: left;
   white-space: pre-line;
   font-size: 17px;
   margin: 10px;
   height: 75px;
}