*{
   box-sizing: border-box;
}
body{
   font-family: 'Roboto', sans-serif;
   margin: 0px;
}
@media screen and (min-width: 768px) 
   and (max-width: 992px) {
   .tooth{
      width: 33.39px;
      height: 34.67px;
   }
   .logo-text{
      font-size: 13px;
   }
   .navigation{
      display: none;
   }
   .phone{
      width: 127px;
      height: 15px;
   }
   main{
      margin: 0 auto;
      text-align: center;
   }
   /* .img-lady{
      position: absolute;
      width: 208px;
      height: 199px;
      left: 48px;
      top: 376px;
   } */
   .footer-1{
      flex-direction: column;
   }
   .main-2{
      flex-wrap: nowrap;
      flex-direction: column;
   }
   .input-box{
      flex-wrap: nowrap;
      flex-direction: column;
   }
   .pictures{
      flex-wrap: nowrap;
      flex-direction: column;
   }
   .footer-2{
      flex-direction: column;
   }
}
@media screen and (max-width: 480px) {
      .tooth{
         width: 33.39px;
         height: 34.67px;
      }
      .logo-text{
         font-size: 13px;
      }
      .navigation{
         display: none;
      }
      .phone{
         width: 127px;
         height: 15px;
      }
      main{
         margin: 0 auto;
         text-align: center;
      }
      .img-lady{
         position: absolute;
         width: 208px;
         height: 199px;
         left: 48px;
         top: 376px;
      }
      .footer-1{
         flex-direction: column;
      }
      .main-2{
         flex-wrap: nowrap;
         flex-direction: column;
      }
      .input-box{
         flex-wrap: nowrap;
         flex-direction: column;
      }
      .pictures{
         flex-wrap: nowrap;
         flex-direction: column;
      }
      .footer-2{
         flex-direction: column;
      }
}

@font-face {
	font-family: 'Sofia';
   font-display: swap;
	src: url('/src/fonts/Sofia.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
.first-screen{
   background-image: url(/src/img/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 60px;
   max-width: 1400px;
   height: 663px;
}
.header{
   max-width: 1180px;
   height: 91px;
   display: flex;
   justify-content: space-between;
   margin-left: 110px;
   margin-right: 110px;
   align-items: center;
}
.logo{
   display: flex;
   max-width: 425.22px;
   height: 91px;
   text-align: left;
   align-content: center;
}
.tooth{
   max-width: 77.57px;
   height: 91px;
   margin-right: 7.43px;
}
.logo-text{
   height: 91px;
   font-family: 'Sofia';
   font-weight: 400;
   font-size: 38px;
   color: #46b1de;
}
.navigation{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 25px;
   max-width: 350px;
   text-align: center;
   font-size: 16px;
}
a{
   text-decoration-line: none;
   color: black;
}
.number{
   margin-left: 10px;
}
.language{
   font-weight: 600;
}
main{
   position:relative;
   margin-left: 110px;
   margin-right: 110px;
}
h1{
   text-transform: uppercase;
   white-space: pre-line;
   margin-top: 34px;
   font-weight: 700;
   font-size: 40px;
   letter-spacing: 0.1em;
}
.blue-text{
   color: #46b1de;
}
h2{
   display: inline-block;
   white-space: pre-line;
   margin: 0px;
   height: 66px;
   font-size: 16px;
   padding-top: 30px;
   line-height: 22px;
}
.call{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 180px;
   height: 60px;
   padding: 16px 35px;
   gap: 10px;
   background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
   box-shadow: 0px 2px 10px #46B1DE;
   border-radius: 8px;
}
.main-link1{
   color: white;
}
.main-link2{
   color: #46b1de;
}
.buttons{
   display: flex;
   flex-direction: row;
   gap: 120px;
   padding-top: 48px;
}
.services{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
   padding: 16px 35px;
   gap: 10px;
   max-width: 180px;
   height: 60px;
   background: #FFFFFF;
   mix-blend-mode: normal;
   border: 1px solid #DDE0DC;
   box-shadow: 0px 2px 10px #DDE0DC;
   border-radius: 8px;
}
.img-lady{
   position: absolute;
   max-width: 572px;
   height: 530px;
   left: 718px;
   top: 133px;
}
.footer-1{
   display: flex;
   gap: 70px;
   align-content: center;
   margin-left: 100px;
   margin-right: 210px;
   margin-top: 54px;
   max-width: 1150px;
   height: 97px;
}
.footer-boxes{
   display: flex;
   flex-direction: row;
   width: 280px;
   height: 120px;
   background: #FFFFFF;
   border: 1px solid #D8E1E1;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
   position: relative;
   z-index: 1;
}
.number-15{
   display: flex;
   align-items: center;
   color: #46b1de;
   font-size: 50px;
   margin: 15px;
}
.text-15{
   display: flex;
   white-space: pre-line;
   align-items: center;
   text-align: left;
}
.header-2{
   max-width: 652px;
   height: 44px;
   margin: 90px 394px 50px 365px;
}
.question{
   margin: 90px 394px 5px 365px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 34px;
   line-height: 44px;
}
.answer{
   margin: 0px 394px 50px 394px;
   max-width: 612px;
   height: 44px;
   text-align: center;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
}
.main-2{
   background-color: #A1C7D4;
   border-radius: 12px;
   padding: 16px 20px;
   max-width: 1020px;
   height: 396px;
   margin: 0 190px 87px 190px;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-between;
   justify-items: center;
   align-items: center;
}
.reasons{
   background-color: white;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   max-width: 300px;
   height: 176px;
}
.number-01{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 40px;
   line-height: 47px;
   color: #46b1de;
   margin: 10px;
}
.text-01{
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #46b1de;
   text-align: left;
   margin: 9px;
   white-space: pre-line;
}
.common-text{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: left;
   white-space: pre-line;
   margin: 10px;
   height: 75px;
}
.outside-box{
   max-width: 845px;
   height: 265px;
   border: 1px solid #D9D9D9;
   margin: 87px 290px 90px 265px;
   padding: 10px 9px 8px 15px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.inside-box{
   max-width: 821px;
   height: 247px;
   background: #FFFFFF;
   border: 1px solid #D9D9D9;
   backdrop-filter: blur(2px);
   border-radius: 10px;
}
.inside-header{
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 32px;
   margin-top: 29px;
   text-align: center;
   text-transform: uppercase;
}
.inside-text{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   margin-top: 7px;
   text-align: center;
}
.form{
   margin-top: 45px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.input-box{
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 233px;
   height: 57px;
   background: rgba(217, 217, 217, 0.71);
   border-radius: 8px;
}
.input-img{
   display: flex;   
   margin: 18px 10px 15px 10px;
   width: 22.15px;
   height: 24px;
}
.line{
   display: flex;
   margin: 14px 8px 13px 0px;
   width: 0px;
   height: 30px;   
   border: 0.5px solid #000000;
}
input{
   width: 150px;
   height: 27px;
   display: flex;
   align-self: center;
   margin-left: 8px;
   background: rgba(217, 217, 217, 0.71);
   border:  rgba(217, 217, 217, 0.71);
   font-family: 'Roboto';
   font-weight: 600;
   font-size: 17px;
   text-align: center;
   color: rgba(27, 29, 31, 0.51);
}
.sing-up{
   background: #46B1DE;
   width: 233px;
   height: 57px;
   border-radius: 8px;
   font-family: 'Roboto';
   font-weight: 600;
   font-size: 19px;
   text-align: center;
   color: #FFFFFF;
}
.pictures{
   display: flex;
   gap: 69px;
   margin: 0px 223px 91px 198px;
   max-width: 979px;
}
.footer-2{
   position: relative;
   display: flex;
   flex-direction: row;
   max-width: 1400px;
   height: 400px;
   background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
}
.block-1{
   display: flex;
   border: #000000 solid 1px;
   max-width: 700px;
   height: 400px;
}
.block-2{
   display: flex;
   max-width: 700px;
   height: 400px;
}
.tooth-2{
   display: flex;
   max-width: 425.22px;
   height: 91px;
   position: absolute;
   top: 60px;
   left: 113px;
}
.tooth2-img{
   max-width: 77.57px;
   height: 80.56px; 
}
.tooth2-text{
   font-family: 'Sofia';
   font-weight: 400;
   font-size: 39px;
   color: #0F2D4A;
   padding-left: 10px;
}
.tooth2-text-lower{
   font-size: 28px;
   margin-top: 0px;
}
.contacts{
   display: flex;
   max-width: 300px;
   height: 300px;
   flex-direction: column;
   position: absolute;
   top: 60px;
   bottom: 40px;
   right: 160px;
   color: #FFFFFF;
   font-family: 'Roboto';
   font-weight: 600;
   font-size: 34px;
   line-height: 30px;
   justify-content: space-around;
}
.contacts-text{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 20px;
}
.contacts-phone{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 20px;
   display: flex;
   align-items: center;
   gap: 20px;
}
.info{
   display: flex;
   flex-direction: column; 
   position: absolute;
   top: 181px;
   left: 116px;
   gap: 27px;
   font-size: 20px;
   font-family: 'Roboto';
}
.schedule{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 218px;
   left: 355px;
   gap: 15px;
}
.working-hours{
   font-family: 'Roboto';
   font-weight: 600;
   font-size: 20px;
}
.hours{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 20px;
   white-space: pre-line;
   line-height: 28px;
}
.copyright{
   position: absolute;
   left: 1125px;
   top: 372px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 13px;
   text-align: center;
   color: #FFFFFF;
}